SMAGENTHOME /opt/smartagent
LOGFILE     /opt/smartagent/logs/smagent.log
PIDFILE     /opt/smartagent/logs/smagent.pid
AGENTKEY    {{ key }}
AGENTNAME   {{ ansible_fqdn }}
PLUGINS     /opt/smartagent/plugins
